{{ 'section-article-pagination.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} section-article-pagination section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="{% if section.settings.full_width %}page-full-width{% else %}page-width{% endif %}">
    <div class="article-pagination">
      <div class="article-pagination-wrapper">
        <div class="article-pagination-item article-pagination-prev">
          <div class="article-pagination-card">
            <div class="article-pagination-body">
              <a href="{{ blog.url }}" class="article-pagination__link">
                <span class="svg-wrapper">
                  {% render 'icon-right-arrow' %}
                </span>
                Previous
              </a>

              <div class="article-pagination-content">
                <div class="article-tag-date">
                  {% if section.settings.prev_blog_category != blank %}
                    <span class="article-tag">{{ section.settings.prev_blog_category }}</span>
                  {% endif %}
                  {% if section.settings.prev_publish_date != blank %}
                    <span class="article-date">{{ section.settings.prev_publish_date }}</span>
                  {% endif %}
                </div>

                <div class="article-title">
                  {{ section.settings.prev_article_title }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="article-pagination-item article-pagination-next">
          <div class="article-pagination-card">
            <div class="article-pagination-body">
              <a href="{{ blog.url }}" class="article-pagination__link">
                Next
                <span class="svg-wrapper">
                  {% render 'icon-right-arrow' %}
                </span>
              </a>

              <div class="article-pagination-content">
                <div class="article-tag-date">
                  {% if section.settings.next_blog_category != blank %}
                    <span class="article-tag">{{ section.settings.next_blog_category }}</span>
                  {% endif %}
                  {% if section.settings.next_publish_date != blank %}
                    <span class="article-date">{{ section.settings.next_publish_date }}</span>
                  {% endif %}
                </div>

                <div class="article-title">
                  {{ section.settings.next_article_title }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article pagination",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "header",
      "content": "Prev article"
    },
    {
      "type": "text",
      "id": "prev_blog_category",
      "label": "Blog category",
      "default": "Printing"
    },
    {
      "type": "text",
      "id": "prev_publish_date",
      "label": "Blog publish date",
      "default": "6 June 2024"
    },
    {
      "type": "richtext",
      "id": "prev_article_title",
      "label": "Article title",
      "default": "<p>Translating handprinted prints on fabric, & much more.</p>"
    },
    {
      "type": "header",
      "content": "Next article"
    },
    {
      "type": "text",
      "id": "next_blog_category",
      "label": "Blog category",
      "default": "Design"
    },
    {
      "type": "text",
      "id": "next_publish_date",
      "label": "Blog publish date",
      "default": "4 August 2024"
    },
    {
      "type": "richtext",
      "id": "next_article_title",
      "label": "Article title",
      "default": "<p>How colour mixing helps with print design</p>"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Article pagination"
    }
  ]
}
{% endschema %}
