{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'content-slider.css' | asset_url | stylesheet_tag }}

{%- liquid
  if section.blocks.size > 0
    assign text_slider = true
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="content-slider color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator and section.blocks.size > 0 %} content-slider--bottom-border{% endif %} section-{{ section.id }}-padding"
  {{ block.shopify_attributes }}
>
  <div class="{% if section.settings.full_width %}page-full-width{% else %}page-width{% endif %}">
    <div class="{% if section.settings.full_width %}page-width{% else %}{% endif %}">
      <div class="content-slider__grid{% if text_slider %} content-slider__grid--3-col{% else %} content-slider__grid--2-col{% endif %}">
        {%- if section.blocks.size == 1 -%}
          <div
            class="content-slider-component"
            role="region"
            aria-label="Slider text"
            style="max-width: {{ section.settings.text_container_width }}%; margin: 0 auto;"
            {{ block.shopify_attributes }}
          >
            {%- if section.blocks.first.settings.text != blank -%}
              <div class="content-slider__message{% if block.settings.font_lora %} text-lora{% endif %} text-{{ section.settings.text_alignment }} h3">
                {{ section.blocks.first.settings.text }}
              </div>
            {%- endif -%}
          </div>
        {%- elsif section.blocks.size > 1 -%}
          <slideshow-component
            class="content-slider-component"
            role="region"
            aria-roledescription="Carousel"
            aria-label="Content slider"
            style="max-width: {{ section.settings.text_container_width }}%; margin: 0 auto;"
          >
            <div class="content-slider-slider{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <div
                class="grid grid--1-col slider slider--everywhere"
                id="Slider-{{ section.id }}"
                aria-live="polite"
                aria-atomic="true"
                data-autoplay="{{ section.settings.auto_rotate }}"
                data-speed="{{ section.settings.change_slides_speed }}"
              >
                {%- for block in section.blocks -%}
                  <div
                    class="slideshow__slide slider__slide grid__item grid--1-col"
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                    {{ block.shopify_attributes }}
                    role="group"
                    aria-roledescription="Slide"
                    aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    tabindex="-1"
                  >
                    <div
                      class="content-slider__text"
                      role="region"
                      aria-label="Slider text"
                      {{ block.shopify_attributes }}
                    >
                      {%- if block.settings.text != blank -%}
                        <div class="content-slider__message{% if block.settings.font_lora %} text-lora{% endif %} text-{{ section.settings.text_alignment }} h3">
                          {{ block.settings.text }}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
            <div class="slider-buttons">
              <button
                type="button"
                class="slider-button slider-button--prev{% if section.settings.slider_visual == 'dots' %} hidden{% endif %}"
                name="previous"
                aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </button>
              <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
                {%- if section.settings.slider_visual == 'counter' -%}
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ section.blocks.size }}</span>
                {%- else -%}
                  <div class="slideshow__control-wrapper">
                    {%- for block in section.blocks -%}
                      <button
                        class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                        aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                        aria-controls="Slider-{{ section.id }}"
                      >
                        {%- if section.settings.slider_visual == 'numbers' -%}
                          {{ forloop.index -}}
                        {%- else -%}
                          <span class="dot"></span>
                        {%- endif -%}
                      </button>
                    {%- endfor -%}
                  </div>
                {%- endif -%}
              </div>
              <button
                type="button"
                class="slider-button slider-button--next{% if section.settings.slider_visual == 'dots' %} hidden{% endif %}"
                name="next"
                aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </slideshow-component>
          {%- if request.design_mode -%}
            <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
            <style>
              /* theme editor power preview fix */
              .content-slider-slider .slider__slide[aria-hidden='true'] {
                visibility: hidden;
              }
            </style>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>

    <div class="{% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: {{ forloop.index }};"
      {% endif %}
    >
      <div
        class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings{% if section.settings.image != blank or section.settings.image_mobile != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank or section.settings.image_mobile != blank %}
          style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        {%- if section.settings.image != blank or section.settings.image_mobile != blank -%}
          {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
            {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
            {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
          (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
        {%- endcapture -%}
          {%- else -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
        {%- endcapture -%}
          {%- endif -%}
          {% if section.settings.image != blank %}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
              class: 'small-hide medium-hide'
            }}
          {% endif %}

          {% if section.settings.image_mobile != blank %}
            {{
              section.settings.image_mobile
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
              class: 'large-up-hide'
            }}
          {% else %}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
              class: 'large-up-hide'
            }}
          {% endif %}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.content-slider.name",
  "max_blocks": 12,
  "class": "content-slider-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": false,
      "label": "Show separator line"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_container_width",
      "label": "Text container width",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "default": 60
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "header",
      "content": "Slide"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.all.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.all.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.all.slider_visual.options__3.label"
        }
      ],
      "default": "dots",
      "label": "t:sections.all.slider_visual.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.content-slider.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.content-slider.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.content-slider.blocks.slide.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>“Our approach to design is always process-led. Even though the deliverable is the same, the outcome will be different every time.”</p>",
          "label": "t:sections.content-slider.blocks.slide.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "font_lora",
          "label": "Enable lora font family",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.content-slider.presets.name",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}