{{ 'section-instagram-feed.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} instagram-feed color-{{ section.settings.color_scheme }} gradient{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="instagram-feed__title title-wrapper-with-link title-wrapper--no-top-margin">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {% if section.settings.title_icon != blank %}
            <span class="title-icon">
              {{
                section.settings.title_icon
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            </span>
          {% endif %}
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.button_label != blank -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    <div class="out-team-list-wrapper">
      <div class="instagram-feed-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col grid--{{ section.settings.columns_desktop }}-col-desktop"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <div class="instagram-feed-list__item grid__item{% if section.settings.column_alignment == 'center' %} center{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% if block.settings.button_link != blank %}
              <a href="{{ block.settings.button_link }}" class="instagram-feed-card" target="_blank">
            {% else %}
              <div class="instagram-feed-card">
            {% endif %}
              {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                {% assign spaced_image = true %}
              {% endif %}
              <div class="{% if block.settings.image != blank %}media media--transparent{% else %}instagram-feed__media--placeholder placeholder{% endif %} media--{{ section.settings.image_ratio }}"
                {% if section.settings.image_ratio == 'adapt' %}
                  style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                {% endif %}
              >
                {%- if block.settings.image != blank -%}
                  {%- liquid
                    assign number_of_columns = section.settings.columns_desktop
                    assign number_of_columns_mobile = section.settings.columns_mobile
                    assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                    assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                    assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                    assign image_width = 1
                  -%}
                  {% capture sizes %}
                    (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                    (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                    (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                    calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                  {% endcapture %}
                  {{
                    block.settings.image
                    | image_url: width: 3200
                    | image_tag:
                      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                      sizes: sizes,
                      class: 'instagram-feed-card__image'
                  }}
                {%- else -%}
                  {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
            {% if block.settings.button_link != blank %}
            </a>
            {% else %}
            </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.instagram-feed.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "title_icon",
      "label": "Title icon"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.instagram-feed.settings.title.default",
      "label": "t:sections.instagram-feed.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "Extra small"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h5",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.instagram-feed.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.instagram-feed.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.instagram-feed.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.instagram-feed.settings.image_ratio.options__4.label"
        }
      ],
      "default": "square",
      "label": "t:sections.instagram-feed.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.instagram-feed.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.instagram-feed.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.instagram-feed.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.instagram-feed.settings.column_alignment.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "@Shambhavit",
      "label": "t:sections.instagram-feed.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.instagram-feed.settings.button_link.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.instagram-feed.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.instagram-feed.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.instagram-feed.settings.columns_mobile.options__2.label"
        },
        {
          "value": "3",
          "label": "t:sections.instagram-feed.settings.columns_mobile.options__3.label"
        }
      ],
      "default": "3",
      "label": "t:sections.instagram-feed.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 116
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 46
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.instagram-feed.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.instagram-feed.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.instagram-feed.blocks.column.settings.image.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.instagram-feed.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
