{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="blog-tags">
  <ul>
    <li>
      <a href="{{ blog.url }}" class="{% unless request.path contains 'tagged' %} active{%  endunless %}">All</a>
    </li>
      {%- for tag in blog.all_tags -%}
        {% unless tag contains 'prev_' or tag contains 'next_' %}
      <li>
      {% assign tag_handle = tag | handle  %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="{% if request.path contains tag_handle %} active{%  endif %}">{{ tag }}</a>
    </li>      
        {% endunless %}
    
  {%- endfor -%}

  </ul>
</div>
{%- paginate blog.articles by section.settings.article_per_page -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {% assign current_page = paginate.current_page | minus: 1 %}
      {%- for article in blog.articles -%}
        {% assign current_index = current_page | times:section.settings.article_per_page | plus: forloop.index %}

        {% for block in section.blocks %}
          {% if current_index == block.settings.position %}

            {% if block.settings.image and block.settings.text %}
              <div
                class="blog-articles__article blog-articles__article-metafiels article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div class="article-card-wrapper">
                  {% if block.settings.image %}
                    <div class="image-wrapper">
                      <img src="{{ block.settings.image | image_url: master }}" alt="{{ article.title }}">
                    </div>
                  {% endif %}
                  {% if block.settings.text %}
                    <div class="content-wrapper">
                      <p class="text-lora">
                        {{ block.settings.text | default: 'No text available' }}
                      </p>
                    </div>
                  {% endif %}
                  {% if block.settings.link %}
                    <div class="button-wrapper">
                      <a href="{{ block.settings.link | default: '#' }}" class="button button--underline">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}


          {%  endif  %}
        {% endfor %}
      
        <div
          class="blog-articles__article{% if article.tags contains 'hidden' %} hidden{% endif %} article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_tags: section.settings.show_tags,
            show_author: section.settings.show_author,
            show_excerpt: section.settings.show_excerpt
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type":"number",
      "label":"Article per page",
      "id":"article_per_page",
      "default":6
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": false,
      "label": "t:sections.main-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "t:sections.main-blog.settings.show_excerpt.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "Content",
      "name": "Content",
      "settings": [
        {
          "type":"image_picker",
          "label":"Image",
          "id":"image"
        },
        {
          "type":"richtext",
          "label":"Text",
          "id":"text"
        },
        {
          "type":"url",
          "label":"Link",
          "id":"link"
        },
        {
          "type":"number",
          "label":"Position",
          "id":"position"
        }
      ]
    }
  ]
}
{% endschema %}
