{{ 'section-multi-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }} .multi-image-with-text .multi-image-with-text__blocks {
      max-width: {{ section.settings.content_box_width }}px;
      width: 100%;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="multi-image-with-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} multi-image-with-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="multi-image-with-text__wrapper multi-image-with-text__item--{{ section.settings.desktop_content_position }}">
      <div class="multi-image-with-media-blocks">
        <div
          class="multi-image-with__media multi-image-with__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image_left != blank or section.settings.image_mobile_left != blank %} media{% else %} multi-image-with__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
          {% if section.settings.height == 'adapt' and section.settings.image_left != blank or section.settings.image_mobile_left != blank %}
            style="padding-bottom: {{ 1 | divided_by: section.settings.image_left.aspect_ratio | times: 100 }}%;"
          {% endif %}
        >
          {%- if section.settings.image_left != blank or section.settings.image_mobile_left != blank -%}
            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
              {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
            (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
          {%- endcapture -%}
            {%- else -%}
              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
              {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
          {%- endcapture -%}
            {%- endif -%}
            {% if section.settings.image_left != blank %}
              {{
                section.settings.image_left
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                class: 'small-hide medium-hide'
              }}
            {% endif %}

            {% if section.settings.image_mobile_left != blank %}
              {{
                section.settings.image_mobile_left
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                class: 'large-up-hide'
              }}
            {% else %}
              {{
                section.settings.image_left
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                class: 'large-up-hide'
              }}
            {% endif %}
          {%- else -%}
            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>
      <div class="multi-image-with-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="multi-image-with-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                data-heading-spacing="{% if block.settings.enable_left_space %}true{% else %}false{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <span>{{ block.settings.heading }}</span>
                
                {% if block.settings.heading_second != blank %}
                  <div class="second-heading-richtext {{ block.settings.second_heading_size }}{% if block.settings.font_lora %} text-lora{% endif %}">
                    <span class="second-heading-text">{{ block.settings.heading_second }}</span>
                  </div>
                {% endif %}
              </h2>
            {%- when 'caption' -%}
              <p
                class="multi-image-with-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="multi-image-with-text__text {{ block.settings.text_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class="multi-image-with-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} multi-image-with-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button button--{{ block.settings.button_style }}"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button button--{{ block.settings.button_style_2 }}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="multi-image-with-media-blocks">
        <div
          class="multi-image-with__media multi-image-with__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image_right != blank or section.settings.image_mobile_right != blank %} media{% else %} multi-image-with__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
          {% if section.settings.height == 'adapt' and section.settings.image_right != blank or section.settings.image_mobile_right != blank %}
            style="padding-bottom: {{ 1 | divided_by: section.settings.image_right.aspect_ratio | times: 100 }}%;"
          {% endif %}
        >
          {%- if section.settings.image_right != blank or section.settings.image_mobile_right != blank -%}
            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
              {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
            (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
          {%- endcapture -%}
            {%- else -%}
              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
              {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
          {%- endcapture -%}
            {%- endif -%}
            {% if section.settings.image_right != blank %}
              {{
                section.settings.image_right
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                class: 'small-hide medium-hide'
              }}
            {% endif %}

            {% if section.settings.image_mobile_right != blank %}
              {{
                section.settings.image_mobile_right
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                class: 'large-up-hide'
              }}
            {% else %}
              {{
                section.settings.image_right
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                class: 'large-up-hide'
              }}
            {% endif %}
          {%- else -%}
            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multi-image-with-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.multi-image-with-text.settings.full_width.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multi-image-with-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multi-image-with-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multi-image-with-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.multi-image-with-text.settings.content_alignment.label"
    },
    {
      "type": "range",
      "id": "content_box_width",
      "min": 400,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Content box width",
      "default": 620
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.multi-image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.multi-image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.multi-image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.multi-image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "header",
      "content": "Image left block"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_left",
      "label": "Mobile image"
    },
    {
      "type": "header",
      "content": "Image right block"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_right",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multi-image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.multi-image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multi-image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.multi-image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multi-image-with-text.settings.height.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.multi-image-with-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.multi-image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.multi-image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "Extra small"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_second",
          "label": "t:sections.multi-image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "second_heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "hxl",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "font_lora",
          "label": "Enable lora font family",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_left_space",
          "label": "Enable left space",
          "default": false
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.multi-image-with-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.multi-image-with-text.blocks.caption.settings.text.default",
          "label": "t:sections.multi-image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.multi-image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.multi-image-with-text.blocks.caption.settings.text_style.options__2.label"
            },
            {
              "value": "caption",
              "label": "t:sections.multi-image-with-text.blocks.caption.settings.text_style.options__3.label"
            },
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.multi-image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.multi-image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.multi-image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.multi-image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.multi-image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.multi-image-with-text.blocks.text.name",
      "limit": 3,
      "settings": [
    
        {
          "type": "textarea",
          "id": "text",
          "default": "t:sections.multi-image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.multi-image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.all.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.all.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.all.text_style.options__3.label"
            },
            {
              "value": "text-lora",
              "label": "t:sections.all.text_style.options__4.label"
            }
          ],
          "default": "body",
          "label": "t:sections.all.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.multi-image-with-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.multi-image-with-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.multi-image-with-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.multi-image-with-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.multi-image-with-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary button"
            },
            {
              "value": "secondary",
              "label": "Secondary button"
            },
            {
              "value": "underline",
              "label": "Underline button"
            }
          ],
          "default": "underline"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.multi-image-with-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.multi-image-with-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.multi-image-with-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary button"
            },
            {
              "value": "secondary",
              "label": "Secondary button"
            },
            {
              "value": "underline",
              "label": "Underline button"
            }
          ],
          "default": "underline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi-image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
