<!-- banner-image -->
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }}.banner-image .page-width {
      max-width: 100%;
      padding-inline: 8.4rem;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} banner-image section-{{ section.id }}-padding" id="section-{{section.id}}">
  <div class="{% if section.settings.full_width %}page-full-width{% else %}page-width{% endif %}">
    <div class="section-wrap">
      <div class="img" >
        {% if section.settings.img_link != blank %}
          <a class="img-link{% if section.settings.overlay  %} overlay{% endif %}" href="{{ section.settings.img_link }}">
        {% endif %}

          {%- comment -%}Tablet and Desktop image{%- endcomment -%}
          <div class="xs-hide {{type}}">
            {% if section.settings.image == blank %}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'icon--placeholder' }}
            {%-  else -%}
              {%- render 'srcset',
                    src_name:section.settings.image,
                    src_alt:section.settings.image.alt,
                    load_blur:true
                    -%}
            {% endif %}
          </div>
          <div class="xs-show {{type}}">
            {% if section.settings.image_xs == blank %}
            
            {{ 'lifestyle-1' | placeholder_svg_tag: 'icon--placeholder' }}
            {%-  else -%}
              {%- render 'srcset', 
                    src_alt:section.settings.image.alt,
                    src_name:section.settings.image_xs,
                    load_blur:true -%}
            {% endif %}
          </div>
        {% if section.settings.img_link != blank %}
          </a>
        {% endif %}
        <div class="slide-text {{section.settings.text_alignment }}">
          <div class="text-wrapper">
            {% unless section.settings.slider_header == blank %}
              <h3>{{section.settings.slider_header}}</h3>
            {% endunless %}

            {% unless section.settings.slider_subheader == blank %}
              <h4>{{section.settings.slider_subheader}}</h4>
            {% endunless %}
            {% unless section.settings.slider_text == blank %}
              <p >{{section.settings.slider_text}}</p>
            {% endunless %}
          
          </div>
        </div>
      </div>

    </div>
  
  </div>
</div>
  
  
  {% schema %}
  
  {
    "name": "Banner image",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "default": false,
        "label": "t:sections.all.full_width.label"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_xs",
        "label": "Image mobile"
      },
      {
        "type": "url",
        "id": "img_link",
        "label": "Image URL"
      },
      {
        "type": "checkbox",
        "id": "overlay",
        "label": "Image overlay",
        "default": false
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000000",
        "info": "Enable overlay first"
      },
      {
        "type": "select",
        "label": "Text alignment",
        "id": "text_alignment",
        "options": [
          {
            "label": "Left",
            "value": "text-left"
          },
          {
            "label": "Right",
            "value": "text-right"
          },
          {
            "label": "Center",
            "value": "text-center"
          }
        ]
      },
      {
        "type": "text",
        "label": "Header text",
        "id": "slider_header"
      },
      {
        "type": "text",
        "label": "SubHeader text",
        "id": "slider_subheader"
      },
      {
        "type": "textarea",
        "label": "Text",
        "id": "slider_text"
      },
      {
        "type": "color",
        "id": "slider_header_color",
        "default": "#000",
        "label": "Header text color"
      },
      {
        "type": "color",
        "id": "slider_subheader_color",
        "default": "#000",
        "label": "SubHeader text color"
      },
      {
        "type": "color",
        "id": "slider_text_color",
        "default": "#000",
        "label": "Paragraph text color"
      },
      {
        "type": "range",
        "id": "slider_header_size",
        "label": "Header text size",
        "unit": "px",
        "min": 14,
        "max": 50,
        "step": 2,
        "default": 36
      },
      {
        "type": "range",
        "id": "slider_subheader_size",
        "label": "SubHeader text size",
        "unit": "px",
        "min": 14,
        "max": 50,
        "step": 2,
        "default": 36
      },
      {
        "type": "range",
        "id": "slider_text_size",
        "label": "Paragraph text size",
        "unit": "px",
        "min": 12,
        "max": 42,
        "step": 1,
        "default": 24
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 56
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 70
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Mobile padding top",
        "default": 24
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Mobile padding bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Banner image",
        "category": "Image"
      }
    ]
  }
  
  {% endschema %}
  
  <style>
  
    {% if section.settings.overlay %}
    #section-{{section.id}} .overlay:after {
        background-color: {{section.settings.overlay_color}};
      }
    {% endif %}
    #section-{{section.id}} .section-wrap h3 {
      color: {{section.settings.slider_header_color}};
    }
    #section-{{section.id}} .section-wrap h4 {
        color: {{section.settings.slider_subheader_color}};
      }
    #section-{{section.id}} .section-wrap p {
      color: {{section.settings.slider_text_color}};
    }
    @media(min-width:768px) {
      #section-{{section.id}} .section-wrap h3 {
        font-size: {{section.settings.slider_header_size}}px;
      }
      #section-{{section.id}} .section-wrap h4 {
        font-size: {{section.settings.slider_subheader_size}}px;
      }
      #section-{{section.id}} .section-wrap p {
        font-size: {{section.settings.slider_text_size}}px;
      }
    }
  </style>