{{ 'section-our-tribe.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% liquid
  assign item_per_page = section.settings.columns_desktop | times: section.settings.item_per_page
%}

<div class="our-tribe color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- if section.settings.title != blank -%}
      <div class="title-wrapper-with-link text-{{ section.settings.text_alignment }} title-wrapper--self-padded-mobile title-wrapper--no-top-margin our-tribe__title{% if section.settings.title_image %} title-wrapper--no-padding{% endif %}">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>

        {% if section.settings.title_image %}
          <div class="title-image">
            {{
              section.settings.title_image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
            }}
          </div>
        {% endif %}
      </div>
    {%- endif -%}

    <div class="our-tribe-wrapper">
      {% if section.settings.text != blank %}
        <div class="our-tribe-content-wrap">
          {{ section.settings.text }}
        </div>
      {% endif %}

      {% comment %} {%- paginate item by paginate_by -%} {% endcomment %}
        <div class="our-tribe-list contains-content-container grid grid--2-col-tablet grid--{{ section.settings.columns_mobile }}-col grid--{{ section.settings.columns_desktop }}-col-desktop">
          {%- for block in section.blocks -%}
            <div class="our-tribe-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <div class="our-tribe-card content-container text-{{ section.settings.column_alignment }} color-{{ section.settings.color_scheme_1 }} gradient">
                <div class="our-tribe-card__heading">
                  {%- if block.settings.job_title != blank -%}
                    <h3 class="inline-richtext tribe-heading">{{ block.settings.job_title }}</h3>
                  {%- endif -%}
                  <a href="{% if block.settings.page_url != blank %}{{ block.settings.page_url }}{% else %}javascript:void(0);{% endif %}" class="page-link-btn">
                    {% render 'icon-right-arrow' %}
                  </a>
                </div>
                <div class="our-tribe-card-body">
                  <div class="our-tribe-card-content">
                    {%- if block.settings.job_department != blank -%}
                      <p class="our-tribe-content-item tribe-job-department"><span>Department:</span> {{ block.settings.job_department }}</p>
                    {%- endif -%}
                    {%- if block.settings.job_type != blank -%}
                      <p class="our-tribe-content-item tribe-job-type"><span>Type:</span> {{ block.settings.job_type }}</p>
                    {%- endif -%}
                    {%- if block.settings.job_location != blank -%}
                      <p class="our-tribe-content-item tribe-job-location"><span>Location:</span> {{ block.settings.job_location }}</p>
                    {%- endif -%}
                    {%- if block.settings.vacant_position != blank -%}
                      <p class="our-tribe-content-item tribe-job-position"><span>Positions Vacant:</span> {{ block.settings.vacant_position }}</p>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        {% comment %} {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
      {%- endpaginate -%} {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.our-tribe.name",
  "class": "section section-our-tribe",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "title_image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.our-tribe.settings.title.default",
      "label": "t:sections.our-tribe.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "Extra small"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h5",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "t:sections.our-tribe.settings.text.default",
      "label": "t:sections.our-tribe.settings.text.label"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Text alignment"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.our-tribe.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.our-tribe.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.our-tribe.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.our-tribe.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.our-tribe.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.our-tribe.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.our-tribe.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_1",
      "label": "Card color",
      "default": "scheme-6"
    },
    {
      "type": "header",
      "content": "t:sections.our-tribe.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.our-tribe.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.our-tribe.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.our-tribe.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 46
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 46
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.our-tribe.blocks.column.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "job_title",
          "default": "t:sections.our-tribe.blocks.column.settings.title.default",
          "label": "t:sections.our-tribe.blocks.column.settings.title.label"
        },
        {
          "type": "text",
          "id": "job_department",
          "label": "Job department"
        },
        {
          "type": "text",
          "id": "job_type",
          "label": "Job type"
        },
        {
          "type": "text",
          "id": "job_location",
          "label": "Job location"
        },
        {
          "type": "text",
          "id": "vacant_position",
          "label": "Positions Vacant"
        },
        {
          "type": "url",
          "id": "page_url",
          "label": "Page URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.our-tribe.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
