{{ 'photo-gallery.css' | asset_url | stylesheet_tag }}
<script src="{{ 'photo-gallery.js' |  asset_url }}" type="module" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="photo-gallery">
    <div class="project color-scheme-3">
      <div class="prod-name">
        <div class="galleryname">
          {% assign gallery_names = section.settings.gallery_names | split:',' %}
          <div class="name active" data-handle="" >
            <span>All Projects</span>
          </div>
          {% for name in gallery_names %}
            <div data-name="{{ name }}" class="name" data-handle="{{ name |  handleize }}" >
              <span>{{ name }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="photo-gallery-wrapper">
      <div class="{% if section.settings.full_width %}page-full-width{% else %}page-width{% endif %}">
        <div class="photo-gallery-container">
          {% assign is_first_block_active_set = false %}
          {% assign count = 0  %}
          {% assign max_slide = section.settings.max_slide %}
            <div data-max="{{ max_slide }}" class="gallery-wrappers {{ block.settings.gallery_name |  handleize  }} {% if is_first_block_active_set == false %} active{% assign is_first_block_active_set = true %}{% endif %}">
              <div class="my-Gallery">
                <div class="gallery-slider">
                  
                </div>
              </div>
            </div>
            <div  class="photo-gallery-button {% if count <= max_slide %} hidden{% endif %}">
              <div data-page="1" data-max="{{ max_slide }}" 
                class="view-more button button--{{ section.settings.button_style }}"
                {{ section.shopify_attributes }}
              >
                {{ section.settings.button_label | escape }}
              </div>
            </div>
          {%- if section.settings.button_label_1 != blank -%}
            <div class="photo-gallery-button">
              <div data-max="{{ max_slide }}" 
                class="view-less d-none button button--{{ section.settings.button_style }}"
                {{ section.shopify_attributes }}
              >
                {{ section.settings.button_label_1 | escape }}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Photo Gallery",
  "class": "photo-gallery section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "number",
      "id": "max_slide",
      "default": 8,
      "label": "Max slide"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "VIEW MORE",
      "label": "Button label",
      "info": "Leave the label blank to hide the button."
    },
 
    {
      "type": "textarea",
      "id": "gallery_names",
      "default": "Apparel,Home Furnishings,Tableware,Rugs,Branding & Identity,Wallpapers,Decor Styling,Stationery & Packaging",
      "label": "Gallery names",
      "info": "Add comma seperated"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary button"
        },
        {
          "value": "secondary",
          "label": "Secondary button"
        },
        {
          "value": "underline",
          "label": "Underline button"
        }
      ],
      "default": "underline"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        { "type": "text", "id": "gallery_name", "label": "Name" },
        { "type": "text", "id": "gallery_text", "label": "Title","default":"Caption lorem ipsum" },
        { "type": "image_picker", "id": "image_1", "label": "Image" },
        { "type": "url", "id": "link", "label": "Link" }
      ]
    }
  ],
  "presets": [{ "name": "Photo Gallery" }]
}
{% endschema %}
