{{ 'section-services-category.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-services-category.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  .services-category[data-separator="true"] .page-width {
    padding-bottom: 0rem !important;
  }

  .services-category[data-separator="true"] .page-width .services-category-list-wrapper {
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    {% if section.settings.show_border %}
    border-bottom: 0.1rem solid #CECECE;
    {% endif %}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .services-category[data-separator="true"] .page-width .services-category-list-wrapper {
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} services-category color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}"
  data-separator="{% if section.settings.enable_bottom_separator %}true{% else %}false{% endif %}"
>
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin services-category__title{% if section.settings.title_image %} title-wrapper--no-padding{% endif %}">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {% if section.settings.title_image %}
          <div class="title-image">
            {{
              section.settings.title_image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
            }}
          </div>
        {% endif %}
      </div>
    {%- endunless -%}

    {% if section.settings.content != blank %}
      <div class="title-text-wrapper">
        <div class="text-lora">
          {{ section.settings.content }}
        </div>
      </div>
    {% endif %}
    
    <div class="services-category-list-wrapper">
      <div class="services-category-list contains-content-container">
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          
          <div class="services-category-list__item {% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="services-category-card content-container color-{{ block.settings.color_scheme_1 }} gradient">
              <div class="services-category-grid grid grid--1-col" data-block-order="{% if block.settings.enable_order %}true{% else %}false{% endif %}">
                <div class="media-grid__item grid__item">
                  <div class="services-category-media services-category-media-js swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="slider-item-media{% if block.settings.image != blank %} media media--transparent{% else %} media--placeholder placeholder{% endif %} media--{{ section.settings.image_ratio }}"
                          {% if section.settings.image_ratio == 'adapt' and block.settings.image != blank or block.settings.image_mobile != blank %}
                            style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                          {% endif %}
                        >
                          {%- if block.settings.image != blank or block.settings.image_mobile != blank -%}
                            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                              {%- capture sizes -%}
                            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                            (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                          {%- endcapture -%}
                            {%- else -%}
                              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                              {%- capture sizes -%}
                            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                          {%- endcapture -%}
                            {%- endif -%}
                            {% if block.settings.image != blank %}
                              {{
                                block.settings.image
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'small-hide medium-hide'
                              }}
                            {% endif %}
              
                            {% if block.settings.image_mobile != blank %}
                              {{
                                block.settings.image_mobile
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% else %}
                              {{
                                block.settings.image
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% endif %}
                          {%- else -%}
                            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                        </div>
                      </div>
                      
                      {%- if block.settings.image_2 != blank or block.settings.image_mobile_2 != blank -%}
                        <div class="swiper-slide">
                          <div class="slider-item-media{% if block.settings.image != blank %} media media--transparent{% else %} media--placeholder placeholder{% endif %} media--{{ section.settings.image_ratio }}"
                            {% if section.settings.image_ratio == 'adapt' and block.settings.image != blank or block.settings.image_mobile != blank %}
                              style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                            {% endif %}
                          >
                            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                              {%- endcapture -%}
                            {%- else -%}
                              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                              {%- endcapture -%}
                            {%- endif -%}

                            {% if block.settings.image_2 != blank %}
                              {{
                                block.settings.image_2
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'small-hide medium-hide'
                              }}
                            {% endif %}
              
                            {% if block.settings.image_mobile_2 != blank %}
                              {{
                                block.settings.image_mobile_2
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% else %}
                              {{
                                block.settings.image_2
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% endif %}
                          </div>
                        </div>
                      {%- endif -%}

                      {%- if block.settings.image_3 != blank or block.settings.image_mobile_3 != blank -%}
                        <div class="swiper-slide">
                          <div class="slider-item-media{% if block.settings.image != blank %} media media--transparent{% else %} media--placeholder placeholder{% endif %} media--{{ section.settings.image_ratio }}"
                            {% if section.settings.image_ratio == 'adapt' and block.settings.image != blank or block.settings.image_mobile != blank %}
                              style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                            {% endif %}
                          >
                            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                              {%- endcapture -%}
                            {%- else -%}
                              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                              {%- endcapture -%}
                            {%- endif -%}
                            {% if block.settings.image_3 != blank %}
                              {{
                                block.settings.image_3
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'small-hide medium-hide'
                              }}
                            {% endif %}
              
                            {% if block.settings.image_mobile_3 != blank %}
                              {{
                                block.settings.image_mobile_3
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% else %}
                              {{
                                block.settings.image_3
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% endif %}
                          </div>
                        </div>
                      {%- endif -%}

                      {%- if block.settings.image_4 != blank or block.settings.image_mobile_4 != blank -%}
                        <div class="swiper-slide">
                          <div class="slider-item-media{% if block.settings.image != blank %} media media--transparent{% else %} media--placeholder placeholder{% endif %} media--{{ section.settings.image_ratio }}"
                            {% if section.settings.image_ratio == 'adapt' and block.settings.image != blank or block.settings.image_mobile != blank %}
                              style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                            {% endif %}
                          >
                           
                            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                              {%- endcapture -%}
                            {%- else -%}
                              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                              {%- endcapture -%}
                            {%- endif -%}
  
                            {% if block.settings.image_4 != blank %}
                              {{
                                block.settings.image_4
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'small-hide medium-hide'
                              }}
                            {% endif %}
              
                            {% if block.settings.image_mobile_4 != blank %}
                              {{
                                block.settings.image_mobile_4
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% else %}
                              {{
                                block.settings.image_4
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% endif %}
                          </div>
                        </div>
                      {%- endif -%}

                      {%- if block.settings.image_5 != blank or block.settings.image_mobile_5 != blank -%}
                        <div class="swiper-slide">
                          <div class="slider-item-media{% if block.settings.image != blank %} media media--transparent{% else %} media--placeholder placeholder{% endif %} media--{{ section.settings.image_ratio }}"
                            {% if section.settings.image_ratio == 'adapt' and block.settings.image != blank or block.settings.image_mobile != blank %}
                              style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                            {% endif %}
                          >
                           
                            {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                              {%- endcapture -%}
                            {%- else -%}
                              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                              {%- endcapture -%}
                            {%- endif -%}
  
                            {% if block.settings.image_5 != blank %}
                              {{
                                block.settings.image_5
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'small-hide medium-hide'
                              }}
                            {% endif %}
              
                            {% if block.settings.image_mobile_5 != blank %}
                              {{
                                block.settings.image_mobile_5
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% else %}
                              {{
                                block.settings.image_5
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority,
                                class: 'large-up-hide'
                              }}
                            {% endif %}
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
                    {%- if block.settings.image_1 != blank and block.settings.image_2 != blank and block.settings.image_3 != blank -%}
                    <div class="swiper-pagination"></div>
                    {% endif %}
                  </div>
                </div>
                <div class="content-grid__item grid__item content__position content__position--{{ block.settings.desktop_content_position }}">
                  <div class="services-category-content">
                    {%- if block.settings.title != blank -%}
                      <h3 class="inline-richtext services-category-title">{{ block.settings.title }}</h3>
                    {%- endif -%}
    
                    {%- if block.settings.caption != blank -%}
                      <p class="rte services-category-caption text-lora">{{ block.settings.caption }}</p>
                    {%- endif -%}
    
                    {%- if block.settings.text != blank -%}
                      <div class="rte services-category-description">{{ block.settings.text }}</div>
                    {%- endif -%}
                    
                    {%- if block.settings.button_label != blank -%}
                      <div class="service-category-link">
                        <a
                          {% if block.settings.button_link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.button_link }}"
                          {% endif %}
                          class="button button--{{ block.settings.button_style }}"
                          {{ block.shopify_attributes }}
                        >
                          {{ block.settings.button_label | escape }}
                          {% if block.settings.button_arrow %}
                            <span class="arrow">{{- 'icon-caret.svg' | inline_asset_content -}}
                            </span>
                          {% endif %}
                        </a>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.services_category.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bottom_separator",
      "label":"Enable bottom separator",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label":"Show border",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.services_category.settings.title.default",
      "label": "t:sections.services_category.settings.title.label"
    },
    {
      "type": "image_picker",
      "id": "title_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "Extra small"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h5",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>The studio offers versatile printing solutions tailored for both sampling and large-scale production. We ensure all our designs are print-ready,</p>",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.services_category.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.services_category.settings.image_ratio.options__2.label"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "square",
          "label": "t:sections.services_category.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.services_category.settings.image_ratio.options__4.label"
        }
      ],
      "default": "landscape",
      "label": "t:sections.services_category.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.services_category.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.services_category.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.services_category.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.services_category.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.services_category.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.services_category.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 38
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 82
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.services_category.blocks.column.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_order",
          "label": "Enable block ordering",
          "default": false
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "BLOCK PRINTING",
          "label": "t:sections.services_category.blocks.column.settings.title.label"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.services_category.blocks.column.settings.text.default",
          "label": "t:sections.services_category.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_arrow",
          "label": "Show button arrow"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option_1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option_2.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.button_style.option_3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_1",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "header",
          "content": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_2",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "header",
          "content": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_3",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "header",
          "content": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_4",
          "label": "t:sections.services_category.blocks.column.settings.image.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle",
          "label": "Desktop content position",
          "info": "Position is automatically optimized for mobile."
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_1",
          "label": "t:sections.all.colors.label",
          "default": "scheme-6"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.services_category.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
