{%- liquid
  assign video_id = video.id | default: video_url.id
  assign video_alt = video.alt | default: block.settings.description
  assign alt = 'block.video.load_video' | t: description: video_alt | escape
  assign poster = video.preview_image | default: cover_image

  if video != null
    assign ratio_diff = video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

<deferred-media
  class="video-section__media deferred-media gradient global-media-settings{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  data-media-id="{{ video_id }}"
  {% if poster != null %}
    style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
  {% endif %}
>
  <button
    id="Deferred-Poster-Modal-{{ video_id }}"
    class="video-section__poster media deferred-media__poster media--landscape"
    type="button"
    aria-label="{{ alt }}"
  >
    {%- if poster != null -%}
      {{
        poster
        | image_url: width: 3840
        | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
      }}
    {%- else -%}
      {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    {%- endif -%}
    <span class="deferred-media__poster-button motion-reduce">
      <span class="svg-wrapper">
        {{- 'icon-play.svg' | inline_asset_content -}}
      </span>
    </span>
  </button>
  <template>
    {%- if video == null and video_url != null -%}
      {%- liquid
        assign loop = ''
        if enable_video_loop
          assign loop = '&loop=1&playlist=' | append: video_id
        endif
      -%}
      {%- if video_url.type == 'youtube' -%}
        <iframe
          src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
          class="js-youtube"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- else -%}
        <iframe
          src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
          class="js-vimeo"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- endif -%}
    {%- else -%}
      {{
        video
        | video_tag:
          image_size: '1100x',
          autoplay: true,
          loop: enable_video_loop,
          controls: true,
          muted: false
      }}
    {%- endif -%}
  </template>
</deferred-media>